body {
font-family: 'Roboto', sans-serif;
font-weight: 500;
line-height: 1.7;

}

.heading-primary{
letter-spacing: 1px;
text-align:left;
font-size: 1.4rem;
text-transform: uppercase;

&--signup{
    border-bottom: solid #2f9bff;
    text-align: center;
letter-spacing: 1px;
    color: black;
    font-size: 3rem;
    font-weight: 500;
}
&--document{
    font-size: 2rem;
    border-bottom: solid black;
    text-align: center;
    margin: 2rem auto;
}

}

.form__container--text{
font-size: 1.25rem;
color: black;
font-weight: lighter;
text-transform: capitalize;
}

