.header__navbar {
  position: fixed;
  flex-direction: row;
  z-index: 100;
  height: 11%;
  background-color: #2f9bff;
  width: 100%; }
  .header__navbar-ul {
    height: 100%;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    display: inline-flex;
    list-style: none; }
    .header__navbar-ul .header__navbar-ul-li1 {
      width: 100%;
      border: solid red; }
    .header__navbar-ul a {
      margin: 1rem 2rem;
      padding: 2rem;
      font-size: 1.3rem;
      letter-spacing: 2px;
      font-weight: 600;
      display: inline-block;
      text-align: center;
      color: white;
      margin-left: 2rem; }
    .header__navbar-ul a::after {
      content: "";
      display: block;
      height: 1rem;
      border-top: 4px solid yellow;
      opacity: 0;
      width: 0rem;
      margin-left: 3rem; }
    .header__navbar-ul a:hover::after {
      transition: all 0.2s ease-in-out;
      opacity: 1;
      width: 100%;
      margin-left: 0rem; }

.header__navbar--ul {
  height: auto;
  width: 99%;
  display: flex;
  justify-content: flex-end;
  color: white;
  list-style: none;
  padding: 0.5rem; }

.header__navbar--sublist {
  flex-direction: row;
  width: 80%;
  display: inline-flex; }
  .header__navbar--sublist--item {
    margin: 2rem 2rem;
    height: 50%;
    width: 7%;
    position: relative;
    color: white;
    text-align: left; }
    .header__navbar--sublist--item:hover {
      border: none;
      color: white; }
    .header__navbar--sublist--item1:after {
      display: block;
      top: 0;
      position: absolute;
      background-image: url("http://localhost/AlexPortfolio/Local/Images/githublogo.png");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      height: 100%;
      content: "";
      width: 100%; }
    .header__navbar--sublist--item1:hover:after {
      content: none;
      transition: all 0.2s ease-in-out;
      opacity: 0; }
    .header__navbar--sublist--item2:after {
      top: 0;
      display: block;
      content: "";
      background-image: url("http://localhost/AlexPortfolio/Local/Images/linkedin.svg");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      position: absolute;
      height: 100%;
      width: 100%; }
    .header__navbar--sublist--item2:hover:after {
      content: none;
      transition: all 0.3s ease-in-out; }
    .header__navbar--sublist--item3:after {
      margin: auto;
      top: 0;
      display: block;
      content: "";
      background-image: url("http://localhost/AlexPortfolio/Local/Images/emaillogo.svg");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%; }
    .header__navbar--sublist--item3:hover:after {
      content: none;
      opacity: 0; }
    .header__navbar--sublist--item a {
      margin: 0rem 0rem 0 0rem;
      padding: 1rem;
      color: transparent; }
      .header__navbar--sublist--item a:hover {
        transition: all 0.45s ease-in;
        color: white; }

.header__navbar--sublist0 {
  width: auto;
  flex-wrap: wrap;
  list-style: none;
  display: inline-flex;
  justify-content: flex-start; }
  .header__navbar--sublist0 a {
    text-align: left; }
  .header__navbar--sublist0:hover ul {
    margin-left: 2rem;
    width: 80%;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    display: flex;
    background-color: #2f9bff;
    height: 60%;
    margin-top: -1rem; }

.header__navbar--ul0 {
  list-style: none;
  height: 0rem;
  opacity: 0; }
  .header__navbar--ul0 li a {
    margin: -1rem 0 0 80%; }

.form__button {
  border: none;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-size: 2rem;
  font-weight: 500;
  background-color: #2f9bff;
  border-radius: 0.25rem;
  width: 20rem;
  height: 3.5rem; }
  .form__button:focus {
    outline: none; }
  .form__button:hover {
    color: white;
    background-color: #0c86f8; }
  .form__button:after:hover {
    color: white; }
  .form__button:target {
    opacity: 1; }
  .form__button a {
    cursor: default; }
    .form__button a:visited {
      color: black; }
  .form__button--small {
    text-transform: capitalize;
    color: black;
    margin-top: 1rem;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #2f9bff;
    height: 2rem;
    width: 100%; }
    .form__button--small:hover {
      background-color: #322fff;
      color: white;
      text-shadow: black 2px 1px 1px 1px; }

.form__block {
  background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  width: 100%;
  background-position: center; }

.form__body {
  margin: 15rem auto 5rem auto;
  z-index: 20;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 30%; }

.form__container--sign {
  text-decoration: underline;
  border-top: solid #2f9bff;
  border-right: solid #2f9bff;
  border-left: solid #2f9bff;
  border-bottom: solid #2f9bff;
  background-color: whitesmoke;
  color: #2f9bff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 4rem; }

.form__container {
  border-top: none;
  border-right: solid #2f9bff;
  border-left: solid #2f9bff;
  border-bottom: solid #2f9bff;
  background-color: whitesmoke;
  color: black;
  height: 100%; }
  .form__container--item {
    margin: 0 auto;
    width: 55%;
    padding: 1rem 1rem 1rem 0; }
  .form__container--button {
    display: flex;
    flex-wrap: wrap;
    width: 60%; }
    .form__container--button a:visited {
      color: black; }

.form__label {
  color: black;
  font-size: 2rem;
  background-color: white;
  border: solid #2f9bff;
  width: 100%; }

.form__button--Account {
  color: white;
  background-color: whitesmoke; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  flex-direction: column;
  display: flex;
  height: 100%;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.7; }

.heading-primary {
  letter-spacing: 1px;
  text-align: left;
  font-size: 1.4rem;
  text-transform: uppercase; }
  .heading-primary--signup {
    border-bottom: solid #2f9bff;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    font-size: 3rem;
    font-weight: 500; }
  .heading-primary--document {
    font-size: 2rem;
    border-bottom: solid black;
    text-align: center;
    margin: 2rem auto; }

.form__container--text {
  font-size: 1.25rem;
  color: black;
  font-weight: lighter;
  text-transform: capitalize; }

.form__background {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: center; }

.form {
  width: 100%;
  text-transform: uppercase; }
  .form__border {
    height: 60vh;
    border-radius: 2rem;
    margin: 10% auto;
    background-color: whitesmoke;
    width: 60%;
    opacity: 0.75; }
  .form__container {
    border: none;
    height: 20%;
    justify-content: center;
    display: flex;
    width: 50%;
    margin: 1.5rem auto; }
    .form__container--login {
      padding: 1rem;
      letter-spacing: 2px;
      color: whitesmoke;
      text-align: center;
      font-size: 2rem;
      height: 8rem;
      background: black;
      opacity: 0.90; }
    .form__container--button {
      margin: 0 auto;
      justify-content: center;
      display: flex;
      height: 5rem;
      vertical-align: middle; }
  .form__button {
    padding: 1rem;
    height: auto;
    font-size: 1.75rem;
    border-radius: 1px;
    margin: 0 1rem 0 7rem; }
    .form__button a:visited {
      color: white; }
