.form__block{
    background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    width: 100%;
    background-position: center;
}

.form__body{
margin:15rem auto 5rem auto;
z-index: 20;
    display: flex;
    flex-direction: column;
height: 60%;
width: 30%;

&--header{
}
}
.form__container--sign{
    text-decoration: underline;
    border-top:solid #2f9bff;
    border-right:solid #2f9bff;
    border-left:solid #2f9bff;
    border-bottom:solid #2f9bff;
    background-color: whitesmoke;
    color: #2f9bff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
font-size: 4rem;
}

.form__container{
    border-top: none;
    border-right: solid #2f9bff;
    border-left: solid #2f9bff;
border-bottom: solid #2f9bff ;
    background-color: whitesmoke;
    color: black;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.55);
    &--item{
    margin: 0 auto;
    width: 55%;
padding: 1rem 1rem 1rem 0;
}
&--button{
    display: flex;
    flex-wrap: wrap;
    width: 60%;

& a:visited{
    color: black;
}
}

}
.form__label{
    color: black;
    font-size: 2rem;
    background-color: white;
    border: solid #2f9bff;
    width: 100%;
}
.form__button--Account{
    color: white;
background-color: whitesmoke;


}